{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration{% endblock %}

{% block body %}
<h1 class="text-center">Accueil panneau d'administration</h1>
<div class="container">
    <section class="d-flex justify-content-around flex-wrap">
        {% if app.user and is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_user_list') }}" class="text-decoration-none">
                <div class="card mt-2" style="width: 18rem;">
                    <div class="card-body text-align">
                        <img src="{{ asset('assets/images/patient.svg') }}" class="rounded mx-auto d-block align-middle" width="40" alt="patient">
                        <h5 class="card-title text-center mt-2">
                            Patients
                        </h5>
                    </div>
                </div>
            </a>

            <a href="{{ path('admin_allergy_list') }}" class="text-decoration-none">
                <div class="card mt-2" style="width: 18rem;">
                    <div class="card-body text-align">
                        <img src="{{ asset('assets/images/allergy.svg') }}" class="rounded mx-auto d-block align-middle" width="40" alt="patient">
                        <h5 class="card-title text-center mt-2">
                            Allergies
                        </h5>
                    </div>
                </div>
            </a>

            <a href="{{ path('admin_recipe_list') }}" class="text-decoration-none">
                <div class="card mt-2" style="width: 18rem;">
                    <div class="card-body text-align">
                        <img src="{{ asset('assets/images/diets.svg') }}" class="rounded mx-auto d-block align-middle" width="40" alt="patient">
                        <h5 class="card-title text-center mt-2">
                            Recettes
                        </h5>
                    </div>
                </div>
            </a>

            <a href="{{ path('admin_step_list') }}" class="text-decoration-none">
                <div class="card mt-2" style="width: 18rem;">
                    <div class="card-body text-align">
                        <img src="{{ asset('assets/images/stairs.svg') }}" class="rounded mx-auto d-block align-middle" width="40" alt="patient">
                        <h5 class="card-title text-center mt-2">
                            Etapes
                        </h5>
                    </div>
                </div>
            </a>

            <a href="{{ path('admin_ingredient_list') }}" class="text-decoration-none">
                <div class="card mt-2" style="width: 18rem;">
                    <div class="card-body text-align">
                        <img src="{{ asset('assets/images/ingredients.svg') }}" class="rounded mx-auto d-block align-middle" width="40" alt="patient">
                        <h5 class="card-title text-center mt-2">
                            Ingrédients
                        </h5>
                    </div>
                </div>
            </a>

            <a href="{{ path('admin_diet_list') }}" class="text-decoration-none">
                <div class="card mt-2" style="width: 18rem;">
                    <div class="card-body text-align">
                        <img src="{{ asset('assets/images/privacy_gray.svg') }}" class="rounded mx-auto d-block align-middle" width="40" alt="patient">
                        <h5 class="card-title text-center mt-2">
                            Types de Régime
                        </h5>
                    </div>
                </div>
            </a>
        {% endif %}
</div>
{% endblock %}
