{% extends 'base.html.twig' %}

{% block title %}Admin - Enregistrer un patient{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <main class="container">
        <h1>Enregistrer un nouveau patient</h1>

            <section>
                    <a href="{{ path('admin_home') }}" type="button" class="btn btn-custom my-3">Retour</a>
            </section>
            {{ form_start(admin_register_form)}}
            {{ form_row(admin_register_form.name) }}
            {{ form_row(admin_register_form.firstname) }}
            {{ form_row(admin_register_form.email) }}
            {{ form_row(admin_register_form.plainPassword) }}
            {{ form_row(admin_register_form.agreeTerms) }}

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
        >
            <section>
                    <button type="submit" class="btn btn-custom my-3">Ajouter</button>
            </section>
            {{ form_end(admin_register_form)}}
    </main>
{% endblock %}