{% extends 'base.html.twig' %}

{% block title %}Administration - Recette - Ajouter{% endblock %}

{% block body %}

<main class="container">
<h1>Ajout d'une Recette</h1>
        <section>
                <a href="{{ path('admin_recipe_list') }}" type="button" class="btn btn-custom my-3">Retour</a>
        </section>
        {{ form_start(form)}}

        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.prepareTime) }}
        {{ form_row(form.restTime) }}
        {{ form_row(form.cookingTime) }}
        {{ form_row(form.ingredients) }}
        {{ form_row(form.steps) }}
        {{ form_row(form.allergies) }}
        {{ form_row(form.diet) }}

        <section>
                <button type="submit" class="btn btn-custom my-3">Ajouter</button>
        </section>
        {{ form_end(form)}}
</main>
{% endblock %}