{% extends 'base.html.twig' %}

{% block title %}Administration - Recettes{% endblock %}

{% block body %}

    <div class="mb-4 mt-4">
        <a type="button" class="btn btn-custom" href="{{ path('admin_home') }}"><img src="{{ asset('assets/images/arrow-left-circle.svg') }}" alt=""> Panneau d'administration</a>
    </div>

    <h1  class="text-center">Liste des recettes</h1>
    <div class="mb-4 mt-4">
        <a href="{{ path('admin_recipe_add') }}" type="button" class="btn btn-custom">
            Ajouter une recette
        </a>
    </div>

<table class="table table-bordered table-secondary border-dark align-middle table-hover">
    <thead>
        <tr class="text-center align-middle">
            <th>Titre</th>
            <th>Description</th>
            <th>Réservée Patientèle</th>
            <th>Temps de préparation</th>
            <th>Temps de repos</th>
            <th>Temps de cuisson</th>
            <th>Ingrédients</th>
            <th>Etapes</th>
            <th>Allergies</th>
            <th>Régimes</th>
            <th colspan="2">Actions</th>
            
        </tr>
    </thead>
    <tbody>
            {% for recipe in recipes %}
        <tr class="text-center">
                <td>{{ recipe.title}}</td>
                <td>{{ recipe.description}}</td>
                <td>
                    <div class="form-check form-switch ms-4">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" {{ (recipe.activeRecipe) ? 'checked':''}} data-id="{{ recipe.id }}">
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                    </div>
                </td>
                <td>{{ recipe.prepareTime|date("H:i")}}</td>
                <td>{{ recipe.restTime|date("H:i")}}</td>
                <td>{{ recipe.cookingTime|date("H:i")}}</td>
                <td>
                    {% for ingredient in recipe.ingredients %}
                        <p>{{ ingredient.name }}</p>
                    {% else %}
                        <p>pas d'ingredient</p>
                    {% endfor %}
                </td>
                <td>
                    {% for step in recipe.steps %}
                        <p>{{ step.name }}</p>
                    {% else %}
                        <p>pas d'étape</p>
                    {% endfor %}
                </td>
                <td>
                    {% for allergy in recipe.allergies %}
                        <p>{{ allergy.name }}</p>
                    {% else %}
                        <p>pas d'allergie particulière</p>
                    {% endfor %}
                </td>
                <td>
                    {% for diet in recipe.diets %}
                        <p>{{ diet.name }}</p>
                    {% else %}
                        <p>pas de régime particulier</p>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('admin_recipe_edit', {id: recipe.id}) }}" type="button" class="btn btn-success-custom">
                        Modifier
                    </a>
                </td>
                <td>
                    <a href="{{ path('admin_recipe_delete', {id: recipe.id}) }}" type="button" class="btn btn-danger-custom">
                        Supprimer
                    </a>
                </td>
            </tr>
            {% endfor %}
    </tbody>
</table>

        <script src="{{ asset('assets/js/scripts.js')}}"></script>

{% endblock %}
